<div class="mt-5">
  <h2 class="mb-3">Requests made to {{foodBank}}</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Amount</th>
      <th scope="col">Unit</th>
      <th scope="col">Submitted</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of requests; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ r.name }}</td>
      <td>{{ r.quantity }}</td>
      <td>{{ r.unit }}(s)</td>
      <td>{{ r.createdAt | date }}</td>
    </tr>
    </tbody>
  </table>
</div>
